/old
/docs
.DS_Store
/src/GitHubStats.Api/bin
/src/GitHubStats.Api/obj
/src/GitHubStats.Application/bin
/src/GitHubStats.Application/obj
/src/GitHubStats.Infrastructure/obj
/src/GitHubStats.Rendering/bin
/src/GitHubStats.Rendering/obj
/src/GitHubStats.Infrastructure/bin
/src/GitHubStats.Domain/bin
/src/GitHubStats.Domain/obj
/src/.idea
/src/.vs
src/GitHubStats.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
src/GitHubStats.Api/GitHubStats.Api.csproj.user
src/GitHubStats.Api/Properties/PublishProfiles/FolderProfile.pubxml
